<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<!-- REVIEW how can I remove the top border above users/joined? -->
  <tbody>
    <tr class="index-table-header-container">
      <td class="index-table-header"> Users </td>
      <td class="index-table-header"> Joined </td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <td> <%= user.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
