<!-- TODO add username -->
<!-- <h2><%# @user.email %></h2> <small> <%# @user.role  %></small> -->
<h2><%= @user.email %></h2> <small> <%= @user.role  %></small>



<row>
  <div class="col-md-6">
    <h3> <%= @user.wikis.count %> Wikis</h3>
    <!-- TODO create partial for user wiki index-->
    <!-- <div class="col-md-6"> -->

      <ul>
        <% @user.wikis.each do |wiki| %>

          <li> <%= link_to wiki.title, wiki_path(wiki) %> </li>
      <% end %>
    </ul>

          <!-- TODO restore hide of private wikis -->
          <!-- <%# if !wiki.private || current_user.admin? || wiki.user == current_user %> -->
          <!-- <%# end %> -->
    <!-- </div> -->
  </div>
</row>
