<!-- TODO add username -->
<h1>Profile for <%= @user.email %></h1>

<h2> Wikis by this user: </h2>

<!-- TODO create partial for user wiki index-->
<% @user.wikis.each do |wiki| %>
<!-- REVIEW cleaner way to do this? -->
    <% if !wiki.private || current_user.admin? || wiki.user == current_user %>
      <p> <%= link_to wiki.title, wiki_path(wiki) %> </p>
    <% end %>
<% end %>
