<div id="welcome_text">
  <div class="welcome_message">Welcome to Wikease!</div>
  <div>The latest and greatest wiki for all things worth knowing. </div>
</div>

<!-- REVIEW (mid) making a new user shows unauthorized message immediately afterward -->
<!-- TODO above requires overriding devise controller to change flash message -->
