<!-- <div class="jumbotron"> -->
<div class="col-md-1">
  <!-- REVIEW (mid) use div in this case? -->
  <div class="welcome_message">Welcome to Wikease!</div>
</div>
<!-- </div> -->

<!-- REVIEW (low) why is the start page considered and "index"? -->
<div class row>
  <div class="col-md-6" id="welcome_text">
    The latest and greatest wiki for all things worth knowing.
  </div>
</div>

<!-- REVIEW (mid) making a new user shows unauthorized message immediately afterward -->
