<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr class="index-table-header-container">
      <td class="index-table-header"> Entry </td>
      <td class="index-table-header"> Author </td>
    </tr>
    <%= render 'wikis/wikis' %>
  </tbody>
</table>
