<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr class="index-table-header-container">
      <td class="index-table-header"> Entry </td>
      <td class="index-table-header"> Author </td>
    </tr>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= link_to wiki.title.truncate(50), wiki_path(wiki) %></td>
        <td> <%= link_to wiki.user.email, user_path(wiki.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
