/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  font-family: fantasy, sans-serif;
}

.nav{
  margin-top: 0.5em;
}

#new_wiki_button{
  background-color: #83ff8c;
  margin-bottom: 1em;
  border-radius: 10px;

  a{
    &:hover {
      background-color: #008040;
      border-radius: 10px;
      color: yellow;
    }
  }
}

li.blue-pill {
  border-radius: 10px;
  background-color: #e5fdff;

  a{
    &:hover{
      background-color: #008d99

    }
  }
}

.index-table-header{
  font-weight: bolder;
  font-size: 1.5em;
}

.index-table-header-container{
  border-top: none;
}

.bump-down {
  margin-bottom: 25px;
}

.center-box{
  text-align: center;
}
