/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  // font: Verdana, sans-serif;
  // font: Arial, sans-serif;
  font-family: fantasy, sans-serif;
}

.nav{
  margin-top: 0.5em;
}

#new_wiki_button{
  background-color: #83ff8c;
  margin-bottom: 1em;
  border-radius: 10px;
}

#new_wiki_button a:hover{
  background-color: #008040;
  border-radius: 10px;
  color: yellow;
}

.blue-pill,
.blue-pill a:hover{
  border-radius: 10px;
}

.blue-pill{
  background-color: #e5fdff;
}

li.blue-pill a:hover {
  background-color: #008d99
}

.index-table-header{
  font-weight: bolder;
  font-size: 1.5em;
}

.index-table-header-container{
  padding-left: 10px;
  text-indent: 2em;
  border-top: none;
}
