.user-show-heading{
  display: inline-block;
}

.option-buttons{
  display: inline-block;
}

#role-button{
  position: relative;
  bottom: 4px;
  margin-left: 10px;

  &:hover{
    text-decoration: none;
  }
}

#user-show-tiny-buttons{
  position: relative;
  bottom: 2px;
}

.padded-button{
  margin-top: 5px;
  margin-right: 5px;
}
